<!DOCTYPE HTML>
<html>
	<head>
		<title><%= (conf.title) ? conf.title + ' | ' + conf.company : 'IT-сообщество Кременчуга | ' + conf.company %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
    <link rel="shortcut icon" href="/assets/img/fav/fav-32.png?v=1">
    <link rel="apple-touch-icon" href="/assets/img/fav/fav-180.png?v=1">
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
    <div id="page-wrapper">

      <!-- Header -->
      <header id="header" class="alt">
        <h1><a href="index.html">IQ Hub</a></h1>
        <nav>
          <a href="#menu">Меню</a>
        </nav>
      </header>
      <% include ./menu.ejs %>

