<% conf.title = 'Open Source' %>
<% include /components/header.ejs %>

<!-- Wrapper -->
<section id="wrapper">
  <header>
    <div class="inner">
      <h2>Open Source</h2>
    </div>
  </header>

  <!-- Content -->
    <div class="wrapper">
      <div class="inner">
        <h3>Карта избирательных округов</h3>
        <p>
          Приложение позволяет узнать кто является депутатом вашего района и как с ним связаться.<br>
          <a href="https://deputat.io.kr.ua" target="__blank">https://deputat.io.kr.ua</a><br>
          <a href="https://github.com/snipter/kremen-deputies" target="__blank">
            https://github.com/snipter/kremen-deputies
          </a>
        </p>
        <p>
          <img style="width: 100%" src="/assets/img/open/deputat.png" alt="Карта избирательных округов Кременчуга">
        </p>
        <h3>Карта общественного транспорта</h3>
        <p>
          Передвижение общественного транспорта в реальном времени.<br>
          <a href="https://transport.io.kr.ua" target="__blank">https://transport.io.kr.ua</a><br>
          <a href="https://github.com/snipter/kremen-transport-web" target="__blank">https://github.com/snipter/kremen-transport-web</a>
        </p>
        <p>
          <img style="width: 100%" src="/assets/img/open/transport.png" alt="Карта общественного транспорта Кременчуга">
        </p>
      </div>
    </div>

</section>

<% include /components/footer.ejs %>
