$gray: #aaa;
$gray-light: #ccc;
$red: #f63635;
$black: #000;
$violet: #db79e0;

$orange500: #ff9800;
$red500: #F44336;
$green500: #4CAF50;
$blue500: #2196F3;
$violet500: #c018c0;
$pink500: #E91E63;
$purple500: #9C27B0;
$deepPurple500: #673AB7;
$indigo500: #3F51B5;
$cyan500: #00BCD4;
$lime500: #CDDC39;
$yellow500: #FFEB3B;

$gray500: #808080;
$gray550: #2d343c;
$gray600: #293038;
$gray700: #1e2328;
$gray900: #0a0f14;

$white-text: rgba(white, .9);
