.deputie-info{
  display: flex;
  flex-direction: row;
  @media (max-width: $screen-phone){
    flex-direction: column;
  }
  &__photos{
    margin-right: 12px;
    text-align: center;
    & > * {
      width: 230px;
      display: inline-block;
    }
    @media (max-width: $screen-phone){
      width: 100%;
      margin-right: 0px;
      margin-bottom: 12px;
      & > * {
        width: 100%;
        display: inline-block;
      }
    }
  }
  &__name{
    font-weight: bold;
    font-size: 18px;
  }
  &__info{
    flex: 1;
  }
  &__row{
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
  }
  &__rowicon{
    display: inline-block;
    width: 20px;
    margin-right: 6px;
    text-align: center;
  }
  &__rowdata{
    flex: 1;
  }
}